

  <div class="container">
    <h3 class="text-center">Enter Your Login Credentials Here</h3>
    <form action="">
        <div class="mb-3">
            <label for="username" class="form-label ">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Your Username"
            [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Your Password"
            [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
          </div>
    
          
          <button (click)="login()" class="btn btn-outline-primary btn-lg">Login</button> &nbsp;
          <button type="reset" class="btn btn-outline-primary btn-lg">Clear Fields</button> &nbsp;
          <button routerLink="/register" class="btn btn-outline-primary btn-lg">Register</button>
    </form>
     
   
  </div>
