<h3 class="text-center">Cart Details</h3>
<br />
<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of cartItems">

            <td>{{ cart._id }}</td>
            <td>{{ cart.name }}</td>
            <td>{{ cart.price}}</td>
            <td>
                <button (click)="removeCartItem(cart._id)" class="btn btn-outline-danger">REMOVE</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <a routerLink='/products' class="btn btn-outline-info">Explore More Products</a> &nbsp;
                <button class="btn btn-outline-info" (click)="cartEmpty()">Clear Cart</button> &nbsp;
                <a routerLink='/checkout' class="btn btn-outline-info">Chekcout</a>
            </td>
        </tr>
    </tfoot>
</table>