.main-container{
    margin-top: 1rem;
    background-image: url(https://ae01.alicdn.com/kf/HTB1EPOTJXXXXXaBXVXXq6xXFXXXI/Yellow-Black-Summer-Backless-Sexy-Maxi-Long-Dress-Women-Floor-Length-Cocktail-Vestido-De-Festa-Longo.jpg);
    
    height: 80vh;
    border-radius: .9rem;

}

p{
    margin-top: 0.5rem;
}
