<form class="row g-3">
 <h3 class="text-center">Enter Your Registration Details Here</h3>
    <div class="col-md-6">
      <label for="name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Your Full Name">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="col-md-6">
      <label for="userType" class="form-label">User Type</label>
      <input type="text" class="form-control" id="userType" placeholder="Enter User Type">
    </div>
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Your Username">
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    
    
    <div class="col-12">
      <button type="submit" class="btn btn-outline-primary btn-lg">Sign Up</button> &nbsp;
      <button type="reset" class="btn btn-outline-primary btn-lg">Clear Fields</button> &nbsp;
      <button routerLink="/home" type="button" class="btn btn-outline-primary btn-lg">Go To Homepage</button> &nbsp;
    </div>
  </form>